<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>art模板引擎测试</title>
</head>
<body>
    <div>{{username}}</div>
    <div>{{age}}</div>
<div>
    {{if age >18}}
    妹妹哥哥来了
    {{else}}
    你走吧
    {{/if}}
</div>

<div>
    {{each orders as order index}}
      {{index}} {{order.title}}
    {{/each}}
</div>
</body>
</html>
