<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>详情页</title>
    <link href="../public/css/index.css" rel="stylesheet">
</head>
<body>
 <div class="">
     <h1 style="text-align: center">当前学生的信息为</h1>
     <table>
         <thead>
            <tr><td>id</td><td>{{stu.id}}</td></tr>
            <tr><td>姓名</td><td>{{stu.name}}</td></tr>
            <tr><td>密码</td><td>{{stu.pwd}}</td></tr>
            <tr><td>年龄</td><td>{{stu.age}}</td></tr>
            <tr><td>性别</td><td>{{stu.sex}}</td></tr>
            <tr><td>创建时间</td><td>{{stu.createAt}}</td></tr>
         </thead>
     </table>
 </div>
</body>
</html>
